pysqlite3-binary==0.5.4  
chromadb==0.4.22
sentence-transformers==2.2.2
groq==0.25.0
pypdf2==3.0.1
python-dotenv==1.1.0
streamlit==1.45.1
pandas==2.2.3
torch==2.7.0
playwright==1.52.0
beautifulsoup4==4.13.4
